    /* section-1 : 기본 코드 */
    .wrap #section-1 .view.on .char {/* inline-block 추가해야함! */
      display: inline-block;
      animation: section1-slide-in  .3s cubic-bezier(.5, 0, .5, 1) both;
      animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes section1-slide-in {
      from {
        transform: translateY(-1em) rotate(-.5turn) scale(0.1);
        opacity: 0;
      }
    }
    /* section-2 : 슬라이드 다운, 응용코드  */
    .wrap #section-2 .view.on .char {
      display: inline-block;
      animation: section2-slide-down .2s cubic-bezier(.5, 0, .5, 1) both;
      animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes section2-slide-down {
      from {
        transform: translateY(-.3em) scale(.8);
        opacity: 0;
      }
    }